<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hotel.data.admin.AdminMapper">
    <insert id="addManager" parameterType="com.example.hotel.po.User" useGeneratedKeys="true" keyProperty="email">
        insert into User(email,password,usertype,credit)
        values(#{email},#{password},#{userType},100)
    </insert>
    <select id="getAllManagers" resultMap="User">
        select * from User
    </select>


    <select id="judge_exist" parameterType="String" resultType="java.lang.Integer">
        select COUNT(*) from User where email=#{email}
    </select>

    <select id="judge_existHotel" parameterType="String" resultType="java.lang.Integer">
        select COUNT(*) from hotel where hotelName=#{hotelName}
    </select>

    <select id="judge_existManager"  resultType="java.lang.Integer">
        select COUNT(*) from User where id=#{id}
    </select>

    <delete id="delAccount" parameterType="String">
        DELETE FROM User WHERE  email= #{email}
    </delete>

    <update id="update_user_info" parameterType="com.example.hotel.po.User" useGeneratedKeys="true" keyProperty="email">
        update User set password=#{password},username=#{userName},phonenumber=#{phoneNumber},usertype=#{userType}
        where email=#{email}
    </update>

    <update id="update_HotelManager" parameterType="com.example.hotel.po.Hotel" useGeneratedKeys="true" keyProperty="id">
        update hotel set manager_id=#{managerId}
        where id=#{id}
    </update>

    <select id="judgeHotelManager" resultType="java.lang.String"  parameterType="String">
        select usertype from User where email= #{email}
    </select>

    <select id="judgeHotelManager_1" resultType="java.lang.String"  parameterType="java.lang.Integer">
        select usertype from User where id= #{id}
    </select>

    <select id="findManagerId" resultType="java.lang.Integer"  parameterType="String">
        select id from User where email= #{email}
    </select>

    <select id="getAllHotel" resultType="com.example.hotel.po.Hotel_ManagerPO"  parameterType="String">
        select * from Hotel where hotelName= #{hotelName}
    </select>

    <insert id="addHotelManager" parameterType="com.example.hotel.po.Hotel" useGeneratedKeys="true" keyProperty="id">
        insert into Hotel(hotelName,manager_id)
        values(#{hotelName},#{managerId})
    </insert>

    <resultMap id="User" type="com.example.hotel.po.User">
        <id column="id" property="id"></id>
        <result column="email" property="email"></result>
        <result column="password" property="password"></result>
        <result column="username" property="userName"></result>
        <result column="phonenumber" property="phoneNumber"></result>
        <result column="credit" property="credit"></result>
        <result column="usertype" property="userType"></result>
    </resultMap>
</mapper>